<h1>Linkster/<%=title%></h1>

<section id="Feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create-post" id="new-post-form" method="post">
        <textarea name="content" placeholder="Type Here" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>

</section>



<section>
    <%for(let post of posts){%>



    <h2>
        <%=post.user.name%>
    </h2>
    <p>
        <%=post.content%>
    </p>
    <%if(locals.user && locals.user.id==post.user.id){%>
    <a href="/posts/destroy/<%=post.id%>">DEL</a>

    <%}%>
    
    <ul>
        <%for(let com of post.comments){%>
    <li>
        <%=com.user.name%>
        <br>
        <%=com.content%>

    </li>
    <%}%>
    </ul>
    <div class="post-comments">
        <form action="/comments/create-comment" method="post">
            <input type="text" name="content" placeholder="Type Here">
            <input type="hidden" name="post" value="<%=post._id%>">
    <input type="submit" value="Add Comment">
    </form>
    </div>
    <%}%>
</section>